.container{
    // height:100vh;
    max-height: 100vh;
    width:100vw;
    background-color: #FEFFFE;
    overflow-x: hidden;
}

.navbar{
    height:7vh;
}

.main{
    height:86%;
}

.footer{
    height:40vh;
}

