

//
//Card's back part
.container{
    background-color: #f4faf4;
    height:100%;
    width:100%;
    position:relative;
    border-radius: 30px;
    font-family: poppins;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    h2{
        text-align: center;
        font-family: Ravens;
        // margin-top: 10px;
        font-size: 20px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:1vh 0;
    height:100%;
    >button:last-child{
        background-color: #173B1A;
        color: white;
        font-size: 13px;
        width:40%;
        transform: scale(85%);
        margin:0 auto;
        letter-spacing: 1px;
    }
}

.inputField{
    transform: scale(80%);
    input{
        font-size: 20px !important;
    }
}

//Card's front part
.front{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;
    >h2{
        font-size: 20px;
        font-family: Revans;
        font-weight: 300;
        
    }
    >div:nth-child(2),>div:nth-child(4){
        background-color: var(--grey);
        height:1px;
        background: rgb(239,239,239);background: radial-gradient(circle, rgba(239,239,239,1) 0%, rgba(141,140,142,1) 0%, rgba(239,239,239,1) 100%);
        margin: 0 1vw;
    }
    >button{
        background-color: #173B1A;
        color: white;
        font-size: 13px;
        width:80%;
        margin:0 auto;
        letter-spacing: 2.5px;
    }
}

.selectField{
    z-index:4;
}