@import '../../App.scss';

.container{
    width:100%;
    height:100%;
    display:flex;
    // margin-left: 5vw;
    padding:0 3vw;
    // background-color: #FAFF84;
    @include xlarge-break{
        padding-left:1vw;
        padding-right:0;
    }

    @include large-break{
        display: flex;
        flex-direction: column;
        padding:0 5vw;
    }

}

.slogan{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5vh;
    align-items: flex-start;
    // background-color: #173B1A;
    @include large-break{
        display: flex;
        width:95%;
        align-items: center;
        margin:auto;
    }

    div:nth-child(1){
        font-size: 60px;
        font-family:Revans;
        width:100%;
        @include large-break{
            width:100%;
            font-size: 80px;
        }
        @include mid-break{
            font-size: 60px;
        }
        div:nth-child(2){
            display: flex;
            align-items: center;
            gap:1vw;
            width:100%;

            button:nth-child(1){
                border-radius:15px !important;
                height:3.5vh !important;
                width:4vw;
                display: flex;
                justify-content: flex-start;
                border-color:#FAFF84 !important ;
                border-width: 3px !important;
                margin-top: 1vh;
            }
        }
    }
    div:nth-child(2){
        width:90%;
        @include large-break{
            width:100%;
        }
    }
    button:nth-child(3){
        background-color:#173B1A !important ;
        font-size: 12px  !important ;
        color:white !important; 
        font-family: Poppins;
    }
}

.card{
    width:50%;
    position: relative;
    @include large-break{
        display: flex;
        flex-direction: row;
        width:100%;
        align-items: center;
        margin-left:20vw;
    }
    @include mid-break{
        margin-left:10vw;
        // background-color: #F4F2EC;
    }
    
    @include small-break{
        padding-left:20px;
        margin:auto 0;
        width:60%;
    }
    img:nth-child(1){

        width:255px;
        height:401px;
        border-radius: 30px;
        z-index:1;
        position:relative;
        transform:scale(70%);
        
        // margin-top: 20vh;
        margin-top: 25vh;
        margin-left: 24vw;
        transform: rotate(20deg);
        transform-origin: center;
        display: block;
        z-index:5;
    }
    img:nth-child(2){
        // width:355px;
        // height:561px;
        width:255px;
        height:401px;
        border-radius: 30px;
        z-index:1;
        // position:relative;
        position:absolute;
        transform:scale(70%);

        margin-bottom:150vh;
        // top:15vh;
        top:20vh;
        // left:1vw;
        margin-left: 14vw;
        transform: rotate(5deg);
        transform-origin: center;
        display: block;
        z-index:4;
    }
    img:nth-child(3){
        width:255px;
        height:401px;
        border-radius: 30px;
        z-index:1;
        position:absolute;
        transform:scale(70%);
        
        top:23vh;
        margin-left: 5vw;
        transform: rotate(339deg);
        transform-origin: center;
        display: block;
        z-index:3;
    }
    .semicircle{
        position:absolute;
        clip-path: circle(33.6% at 50% 100%);
        background-color: #F4F2EC;
        width:100%;
        height:100%;
        transform: scale(120%);
        bottom:8.59vh;
        left:-2vw;
        @include large-break{
            display: none;
        }
    }
}

.statistics{
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2vh;
    // background-color: #173B1A;
    @include xlarge-break{
        gap:0;
        width:15%;
        margin-left: auto;
        // display: none;
    }
    @include large-break{
        display: flex;
        flex-direction: row;
        width:100%;
        margin:10vh 0;
    }

    button:nth-child(1){
        border-radius: 50px;
        margin-right: 15.8vw;
        border-color: #FAFF84;
        border-width: 3px;
        
    }
    img:nth-child(1){
        width:23px;
        transform: scale(180%);
    }
    div:nth-child(2){
        p:nth-child(1){
            font-size: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        p:nth-child(2){
            font-size: 20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
    div:nth-child(3){
        p:nth-child(1){
            font-size: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        p:nth-child(2){
            font-size: 20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}