.container{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    padding:2vh 4vw;
    
    // >div:nth-of-type(1){
    //     width:25%;
    //     color:#173B1A;
    //     font-weight: 900;
    //     font-family: Longway;
    //     font-size: 22px;
    // }
    >div:nth-of-type(1){
        width:25%;
        // margin-top: 2vh;
    }
}

.logoImage{
    width:180px;
    height:60px;
    transform: scale(80%);
    // background-color: #86b98a;
}

.options{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // background-color: aliceblue;
    width:45%;
    height:100%;
    font-family: Revans;
    font-size: 15px; 
    font-weight: 500;
    margin-top: 0.5vh;
}

.btn{
    width:30%;
    display:flex;
    justify-content: flex-end;
    gap:3vw;
    padding-top:0.5vh;
    button:nth-child(1){
        border-color:#173B1A !important ;
        font-size: 15px  !important ;

        &:hover{
            background-color:#86b98a  !important ;
        }
    }
    button:nth-child(2){
        background-color:#173B1A !important ;
        font-size: 12px  !important ;
        color:white !important; 
    }
}
